<div class="w-full h-full flex flex-col justify-center  items-center p-10 ">
    <div class="flex flex-col gap-12">
        
            <h1 class="text-black font-bold  text-4xl ">
                PROCESSO:<b class="text-[#0A2463] font-bold" >{{procedimento}}</b>
            </h1>

        <div class="flex gap-[60px] items-center">
            <div class="flex gap-[60px]">
                <div class="flex  flex-col gap-10 w-[326px]">
                    <div class="w-full">
                        <p class="font-semibold text-2xl text-[#6b6b6b]">produto sendo produzido:</p>
                            <p class="font-bold text-4xl bg-[#0A2463]  text-center text-white w-full py-14  rounded-2xl  ">
                                {{tipo}}
                            </p>
                    </div>
                    <div class="w-full h-[310px] bg-[#EBEBEB] rounded-2xl flex items-center justify-center relative">
                        <p class="font-bold text-3xl text-[#7D0929] w-[200px] absolute top-6">
                            Temperatura
                        </p>
                        <p class="font-bold text-[100px] text-[#0A2463] w-[150px]">
                            {{temperatura}}°
                        </p>

                    </div>
                </div>

                <div class="flex  flex-col gap-10 w-[326px]">
                    <div>
                        <p class="font-semibold text-2xl text-[#6b6b6b]">quantidade de leite em processo: </p>
                        <div class="w-full h-[282px] bg-[#7D0929] rounded-2xl flex items-center justify-center ">
                            <p class="font-bold text-[62px] text-white w-[150px]">
                                {{quantidade}}L
                            </p>
                        </div>
                    </div>
                    <div>
                        <p class="font-semibold text-2xl text-[#6b6b6b]">tempo em processo: </p>
                            <p class="font-semibold text-[62px]  py-6 bg-[#0A2463] rounded-2xl text-center text-white w-full">
                                {{segundosFaltantes}}
                            </p>
                    </div>

                </div>
            </div>

            <div class=" flex flex-col gap-[60px]">
                <div class="card w-[600px] ">
                    <p-chart type="bar" [data]="stackedData" [options]="stackedOptions"></p-chart>
                </div>


                <div>
                    <p class="font-semibold  text-2xl text-[#6b6b6b] w-[310px]">gordura retirada: </p>

                    <div class="w-[600px] h-[340px] bg-[#EBEBEB] rounded-2xl flex items-center ">

                        <div
                            class="w-[200px] h-full border-gray-300 border-r-2  flex flex-col justify-center relative  items-center">
                            <p class="font-semibold absolute top-20 text-3xl text-center text-black w-full"> Total </p>

                            <p class="font-bold text-[70px] text-black w-[100px]">
                               {{gorduraTotal}}
                            </p>
                        </div>

                        <div class="w-[400px]">

                            <div class="w-full h-[170px] border-gray-300 border-b-2  flex flex-col items-center justify-center ">
                                <p class="font-semibold text-start w-full text-3xl text-black px-4"> Descarte: </p>

                                <p class="font-bold text-[70px] text-[#7D0929] w-[100px]">
                                    {{gordura}}
                                </p>
                            </div>

                            <div class="w-full h-[170px] border-gray-300 flex flex-col items-center justify-center ">
                                <p class="font-semibold text-start text-3xl text-black px-4 w-full"> Utilizado: </p>
                                <p class="font-bold text-[70px] text-[#0A2463] w-[100px]">
                                    {{gorduraDesejada}}
                                </p>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>


    </div>
</div>